.logo-footer{
    display: flex;
    align-items: center;
    font-size: xx-large;
    font-weight: bold;
    font-family: 'Acme', sans-serif;
}
.log{
    width: 150px;
}
.conditions{
    display: flex;
    font-size: x-large;
    gap: 20px;
}
.bas{
    display: flex;
    align-items: center;
    justify-content: space-between;
}